:root{
    --blue:#0d6efd;
    --indigo:#6610f2;
    --purple:#6e42ce;
    --pink:#d63384;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#198754;
    --teal:#20c997;
    --cyan:#0dcaf0;
    --black:#000;
    box-sizing: border-box;
}
/* rest minimo */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}
